body{
    overflow: hidden;
}


input[type="button"] {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: black;
    font-size: 20px;
}

table {
    box-shadow:0px 0px 100px rgb(2, 255, 65);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgb(83, 83, 83);
}
input[type="tel"]{
    text-align: right;
    font-size: 30px;
    height: 100px;
    width: 266px;
    border-radius: 10px;
    padding: 4px;
    border: none;
    border-bottom:2px solid black;
}
td{
    max-width: 62px;
    padding: 5px;
}

@media screen and (max-width:300px) {
    table{
        width: 100%;
    }
}